<div class="container my-1 flex text-white">
  <select
    name="operation"
    id="operation-select"
    class="bg-light-bg-500 dark:bg-dark-bg-500 text-light-bgfg-500 dark:text-bgfg-500 fill-light-bgfg-500 dark:fill-bgfg-500 focus:ring-light-brand-500 dark:focus:ring-dark-brand-500 mx-1 rounded-lg px-3 py-1 transition-colors duration-200 ease-in-out focus:outline-none focus:ring"
    [formControl]="inputOper"
  >
    <option value="add">+</option>
    <option value="sub">-</option>
  </select>

  <input
    type="number"
    class="bg-light-bg-500 dark:bg-dark-bg-500 text-light-bgfg-500 dark:text-bgfg-500 fill-light-bgfg-500 dark:fill-bgfg-500 focus:ring-light-brand-500 dark:focus:ring-dark-brand-500 mx-1 rounded-lg px-3 py-1 transition-colors duration-200 ease-in-out focus:outline-none focus:ring"
    [formControl]="inputNumber"
  />

  <button
    class="bg-light-brand-500 dark:bg-dark-brand-500 text-light-brandfg-500 dark:text-brandfg-500 fill-light-brandfg-500 dark:fill-brandfg-500 hover:bg-light-brand-400 dark:hover:bg-dark-brand-400 hover:text-light-brandfg-400 dark:hover:text-dark-brandfg-400 mx-1 rounded-lg px-3 py-1 transition-colors duration-200 ease-in-out"
  >
    Enable
  </button>
  <button
    (click)="delete()"
    class="bg-light-danger-500 dark:bg-dark-danger-500 text-light-dangerfg-500 dark:text-dangerfg-500 fill-light-dangerfg-500 dark:fill-dangerfg-500 hover:bg-light-danger-400 dark:hover:bg-dark-danger-400 hover:text-light-dangerfg-400 dark:hover:text-dark-dangerfg-400 mx-1 rounded-lg px-3 py-1 transition-colors duration-200 ease-in-out"
  >
    Delete
  </button>
</div>
